@tailwind base;
@tailwind components;
@tailwind utilities;

.outline1 {


    outline: solid 1px slategrey;

}


.custom-btn {

    filter: brightness(0) invert(1);
}

.customStar {

    filter: brightness(0) saturate(100%) invert(87%) sepia(20%) saturate(4156%) hue-rotate(359deg) brightness(103%) contrast(104%);
}